@font-face {
    font-family: 'Symbols Nerd Font';
    font-display: swap;
    font-weight: 100;
    font-stretch: normal;
    font-style: normal;
    src: url('TTF/SymbolsNerdFont-Regular') format('truetype');
}